<!DOCTYPE html>
<html>
  <%= render 'layouts/head'%>
  <body>
    <%= render 'layouts/header'%>
    <div class="container">
    <%= @user.nick_name %>, <%= @user.email %>
    <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
